CMakeFiles/
build/
CMakeCache.txt
Makefile
cmake_install.cmake
cmake_uninstall.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
/compile_commands.json

#Eclipse
.cproject
.project
.csettings/
.settings/

# Netbeans
dist/
nbproject/


# Other
.dep.inc
lib/
testResult.log
testing/
/VC4CL.icd

#CTest
/CTestTestfile.cmake
/Testing