version: 2
jobs:
  check-code-style:
    docker:
      - image: nomaddo/native
    steps:
      - checkout
      - run: .circleci/clang-format-diff.sh
  build:
    docker:
      - image: nomaddo/cross-rpi:0.1
    steps:
      - checkout
      - run:
          name: get json
          command: curl "https://circleci.com/api/v1.1/project/github/doe300/VC4C" --output /tmp/json
      - run:
          name: get vc4c url
          command: curl "https://circleci.com/api/v1.1/project/github/doe300/VC4C/$(.circleci/build_num.py /tmp/json)/artifacts" --output /tmp/dump
      - run:
          name: get vc4cl-stdlib package
          command: wget -O /tmp/vc4cl-stdlib.deb $(python .circleci/get_url.py "vc4cl-stdlib-" "/tmp/dump")
      - run:
          name: get vc4c package
          command: wget -O /tmp/vc4c.deb $(python .circleci/get_url.py "vc4c-" "/tmp/dump")
      - run:
          name: unpack dependencies
          command: dpkg-deb -x /tmp/vc4cl-stdlib.deb / && dpkg-deb -x /tmp/vc4c.deb /
      - run:
          name: configure
          command: cmake . -DCROSS_COMPILE=ON -DBUILD_TESTING=ON -DREGISTER_POKE_KERNELS=ON -DBCMHOST_LIBRARY=/usr/arm-linux-gnueabihf/opt/vc/lib/libbcm_host.so
      - run:
          name: build
          command: make -j`nproc`
      - run:
          name: deb-packing
          command: cpack -G DEB
      - store_artifacts:
          path: build/libVC4CL.so.0.4
          distination: libVC4CL.so.0.4
      - store_artifacts:
          path: build/test/TestVC4CL
          distination: TestVC4CL
      - store_artifacts:
          path: vc4cl-0.4-Linux.deb
          distination: vc4cl-0.4-Linux.deb
